@import "tailwindcss";



html, body, #root {
  height: 100%;
}

html {
  font-size: 17px;
}

#root, #root * {
  font-family: inherit;
}

body {
  width: 340px;
  min-height: 600px;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
